#!/bin/bash
sudo su
apt-get update
apt-get install -y docker.io
apt-get install -y git
apt-get install -y docker-compose
apt-get install -y openjdk-17-jre-headless
apt-get  install -y awscli
docker network create staff-manager
chmod 777 -R /opt