#!/bin/bash
sudo su
apt-get update
apt-get install -y nginx
apt-get install -y docker.io

echo "<h1 style='text-align:center;color: red;'>Welcome to Nginx : Instance ${instanceNumber} </h1>" > /var/www/html/index.html

service nginx start

docker run --name nginx -p 81:80 -d nginx